{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": ["transform-class-properties"],
  "ignore": [
    "src/index.js",
    "src/test/**",
    "**/*.test.js"
  ]
}
